<nav class="navbar navbar-expand-lg quinary-color stroke">
    <img class="navbar-brand py-0" id="brand_img" src="dist/img/logo_gradiant.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row" id="navbarSupportedContent">
        <ul class="navbar-nav col-12 first_nav_line pl-0">
            <div class="ml-auto d-flex">
                <div class="wrapper">
                    <ul>
                        <li class="facebook"><i class="fab fa-facebook-f fa-sm" aria-hidden="true"></i></li>
                        <li class="twitter"><i class="fab fa-twitter fa-sm" aria-hidden="true"></i></li>
                        <li class="linkedin"><i class="fab fa-linkedin-in fa-sm" aria-hidden="true"></i></li>
                        <li class="google"><i class="fab fa-google fa-sm" aria-hidden="true"></i></li>
                    </ul>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav col-12 d-flex justify-content-around px-0">
            <li class="nav-item link_home">
                <a class="nav-link" href="index.html">Accueil</a>
            </li>
            <li class="nav-item link_list">
                <a class="nav-link ion" href="list.html">Les Frameworks</a>
            </li>
            <!-- <li class="nav-item link_improve">
                <a class="nav-link" href="improve.html">J'enrichis</a>
            </li> -->
            <li class="nav-item link_contact">
                <a class="nav-link" href="contact.html">Contact</a>
            </li>
            <li class="nav-item">
                <a href="#" id="login" class="retro_btn red" data-toggle="modal" data-target="#connexion_modal"><p class="mb-0">Connecter</p></a>
                <!-- <button class="btn btn-outline-info nav-link py-1 effect effect-5">Connecter</button> -->
            </li>
        </ul>
    </div>
</nav>
<div class="modal fade" id="connexion_modal" tabindex="-1" role="dialog" aria-labelledby="connexion_title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title mx-auto" id="connexion_title">Connexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="modal_closer">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-auto">
                <label class="input_lbl" for="login_input">Adresse E-mail</label>
                <input class="form-control mb-4" id="login_input" minlength="4" type="text" placeholder="exemple@exemple.fr" tabindex="1">
                <label class="input_lbl signup_only" style="display:none;" for="fname_input">Prénom</label>
                <input class="form-control mb-4 signup_only" style="display:none;" id="fname_input" minlength="4" type="text"tabindex="2">
                <label class="input_lbl signup_only" style="display:none;" for="name_input">Nom</label>
                <input class="form-control mb-4 signup_only" style="display:none;" id="name_input" minlength="4" type="text" tabindex="3">
                <label class="input_lbl" for="pass_input">Mot de passe</label>
                <input class="form-control" id="pass_input" minlength="4" type="password" tabindex="4">
                <label class="input_lbl signup_only" style="display:none;" for="repass_input">Verification du mot de passe</label>
                <input class="form-control signup_only" style="display:none;" id="repass_input" minlength="4" type="password" tabindex="5">
                <small id="subtext" class="form-text">Pas encore inscrit ? <a href="#" id="signup" tabindex="-1">C'est par ici !</a></small>
            </div>
            <div class="modal-footer mx-auto">
                <div class="w-100 d-flex">
                    <button class="btn btn-outline-light mx-auto" id="btn_sign" data-mode="sign_in" tabindex="6">Valider</button>
                </div>
            </div>
        </div>
    </div>
</div>